{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block head %}

<script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/nrdb.js') }}"></script>
<script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/deck.js') }}"></script>
<script type="text/javascript">

var CardDB = null,
	SetDB = null,
	Filters = {},
	FilterQuery = {}, 
	CardDivs = {}, 
	Sort = "type", 
	Order = 1,
	Identity = null,
	InfluenceSpent = 0,
	InfluenceLimit = 0,
	MinimumDeckSize = 0,
	DeckSize = 0,
	Deck = {{ deck.slots|json_encode|raw }},
	Side = {{ deck.side_name|json_encode|raw }};

</script>

{% endblock %}

{% block body %}
<div id="spinner"></div>
<div class="container deck" style="display:none">
<div class="row">

<!-- Left-side Column -->
<div class="col-md-5" id="deck">

<!-- Identity and Stats -->
<div class="row">
	<div class="col-sm-3 hidden-xs">
		<img id="img_identity" src="" class="img-responsive">
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-9">
		<h4 id="identity"></h4>
		<div id="influence"></div>
		<div id="agendapoints"></div>
		<div id="cardcount"></div>
		<div id="latestpack"></div>
	</div><!-- /.col-sm-9 -->
</div><!-- /.row -->
<!-- Identity and Stats -->

<!-- Deck Content -->
<div class="row" id="deck-content" style="margin-bottom:10px">
	<div class="col-sm-6">
		<h5><img src="/web/bundles/netrunnerdbbuilder/images/types-gray-light/Event.png"> Event (<span></span>)</h5><div class="deck-event"></div>
		<h5><img src="/web/bundles/netrunnerdbbuilder/images/types-gray-light/Hardware.png"> Hardware (<span></span>)</h5><div class="deck-hardware"></div>
		<h5><img src="/web/bundles/netrunnerdbbuilder/images/types-gray-light/Resource.png"> Resource (<span></span>)</h5><div class="deck-resource"></div>
		<h5><img src="/web/bundles/netrunnerdbbuilder/images/types-gray-light/Agenda.png"> Agenda (<span></span>)</h5><div class="deck-agenda"></div>
		<h5><img src="/web/bundles/netrunnerdbbuilder/images/types-gray-light/Asset.png"> Asset (<span></span>)</h5><div class="deck-asset"></div>
		<h5><img src="/web/bundles/netrunnerdbbuilder/images/types-gray-light/Upgrade.png"> Upgrade (<span></span>)</h5><div class="deck-upgrade"></div>
		<h5><img src="/web/bundles/netrunnerdbbuilder/images/types-gray-light/Operation.png"> Operation (<span></span>)</h5><div class="deck-operation"></div>
	</div><!-- /.col-sm-6 -->
	<div class="col-sm-6">
		<h5><img src="/web/bundles/netrunnerdbbuilder/images/types-gray-light/Program.png"> Icebreaker (<span></span>)</h5><div class="deck-icebreaker"></div>
		<h5><img src="/web/bundles/netrunnerdbbuilder/images/types-gray-light/Program.png"> Program (<span></span>)</h5><div class="deck-program"></div>
		<h5><img src="/web/bundles/netrunnerdbbuilder/images/types-gray-light/ICE.png"> Barrier (<span></span>)</h5><div class="deck-barrier"></div>
		<h5><img src="/web/bundles/netrunnerdbbuilder/images/types-gray-light/ICE.png"> Code Gate (<span></span>)</h5><div class="deck-code-gate"></div>
		<h5><img src="/web/bundles/netrunnerdbbuilder/images/types-gray-light/ICE.png"> Sentry (<span></span>)</h5><div class="deck-sentry"></div>
		<h5><img src="/web/bundles/netrunnerdbbuilder/images/types-gray-light/ICE.png"> ICE (<span></span>)</h5><div class="deck-ice"></div>
	</div><!-- /.col-sm-6 -->
</div><!-- /#deck-content -->
<!-- Deck Content -->

<!-- Name and Notes Form -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<form method="POST" action="{{ path('deck_save') }}" id="save_form" role="form">
					<input type="hidden" id="deck-save-id" name="id" value="{{ deck.id }}">
					<input type="hidden" name="content">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" name="name" value="{{ deck.name }}"></input>
					</div>
					<div class="form-group">
						<label for="name">Notes</label>
						<textarea class="form-control" rows="3" name="description">{{ deck.description }}</textarea>
					</div>
					<button type="submit" class="btn btn-warning">Save</button>
					<button type="submit" id="btn-save-as-copy" class="btn btn-primary">Save as Copy</button>
				</form>
			</div><!-- /.panel-body -->
		</div><!-- /.panel -->
	</div><!-- /.col-sm-12 -->
</div><!-- /.row -->
<!-- Name and Notes Form -->

</div><!-- /#deck -->
<!-- Left-side Column -->

<!-- Right-side Column -->
<div class="col-md-7">

<!-- Search Bar -->
<div class="row" id="search">
	<div class="col-sm-5">
		<input type="text" class="form-control" name="title" placeholder="Find a card" tabindex="1">
	</div>
	<div class="col-sm-7">
		<div class="pull-right">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Factions <span class="caret"></span></button>
				<ul class="dropdown-menu filter" id="faction" title="Shift+Click to select only one option ; Alt+Shift+Click to select all other options"></ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Types <span class="caret"></span></button>
				<ul class="dropdown-menu filter" id="type" title="Shift+Click to select only one option ; Alt+Shift+Click to select all other options"></ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sets <span class="caret"></span></button>
				<ul class="dropdown-menu filter" id="setcode" title="Shift+Click to select only one option ; Alt+Shift+Click to select all other options"></ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Options <span class="caret"></span></button>
				<ul class="dropdown-menu pull-right">
					<li><a href="#"><label><input type="checkbox" name="show-disabled"> Show unusable cards</label></a></li>
					<li><a href="#"><label><input type="checkbox" name="only-deck"> Show only used cards</label></a></li>
				</ul>
			</div><!-- /.btn-group -->
		</div><!-- /.pull-right -->
	</div><!-- /.col-sm-7 -->
</div><!-- /.row -->
<!-- Search Bar -->

<!-- Collection Table -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th><a href="#" data-sort="indeck">Quantity</a></th>
					<th><a href="#" data-sort="title">Name</a></th>
					<th><a href="#" data-sort="factioncost">Inf.</a></th>
					<th class="type"><a href="#" data-sort="type">Type</a><span class="caret"></span></th>
					<th class="faction"><a href="#" data-sort="faction">Faction</a></th>
				</tr>
			</thead>
			<tbody id="collection" class="hide-disabled"></tbody>
		</table>
	</div><!-- /.col-sm-12 -->
</div><!-- /.row -->
<!-- Collection Table -->
	
</div><!-- .col-md-8 -->
<!-- Right-side Column -->
	
</div><!-- .row -->
</div><!-- .container -->


{% endblock %}