{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block head %}

<script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/nrdb.js') }}"></script>
<script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/deck.js') }}"></script>
<script type="text/javascript">

var CardDB = null,
	SetDB = null,
	Filters = {},
	FilterQuery = {},
	SmartFilterQuery = {}, 
	AdditionalFilters = [],
	CardDivs = {}, 
	Sort = "type", 
	Order = 1,
	Identity = null,
	InfluenceSpent = 0,
	InfluenceLimit = 0,
	MinimumDeckSize = 0,
	DeckSize = 0,
	Deck = {{ deck.slots|json_encode|raw }},
	Side = {{ deck.side_name|json_encode|raw }},
	Url_FactionImage = '{{  asset('/web/bundles/netrunnerdbbuilder/images/factions/16px/xxx.png') }}',
	Url_TypeImage = '{{ asset('/web/bundles/netrunnerdbbuilder/images/types/xxx.png') }}',
	Update_Incoming = false,
	DisplaySort = 'type';
	
</script>

{% endblock %}

{% block body %}
<div id="spinner"></div>
<div class="container deck" style="display:none">
<div class="row">

<!-- Left-side Column -->
<div class="col-md-5" id="deck">

<!-- Identity and Stats -->
<div class="row">
	<div class="col-sm-3 hidden-xs">
		<img id="img_identity" src="" class="img-responsive">
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-9">
		<h4 id="identity"></h4>
		<div id="influence"></div>
		<div id="agendapoints"></div>
		<div id="cardcount"></div>
		<div id="latestpack"></div>
	</div><!-- /.col-sm-9 -->
</div><!-- /.row -->
<!-- Identity and Stats -->

<!-- Deck Content -->
<div class="row" id="deck-content" style="margin-bottom:10px">
	<div class="col-sm-6">
		<h5><img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/types/event.png') }}"> Event (<span></span>)</h5><div class="deck-event"></div>
		<h5><img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/types/hardware.png') }}"> Hardware (<span></span>)</h5><div class="deck-hardware"></div>
		<h5><img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/types/resource.png') }}"> Resource (<span></span>)</h5><div class="deck-resource"></div>
		<h5><img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/types/agenda.png') }}"> Agenda (<span></span>)</h5><div class="deck-agenda"></div>
		<h5><img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/types/asset.png') }}"> Asset (<span></span>)</h5><div class="deck-asset"></div>
		<h5><img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/types/upgrade.png') }}"> Upgrade (<span></span>)</h5><div class="deck-upgrade"></div>
		<h5><img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/types/operation.png') }}"> Operation (<span></span>)</h5><div class="deck-operation"></div>
	</div><!-- /.col-sm-6 -->
	<div class="col-sm-6">
		<h5><img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/types/program.png') }}"> Icebreaker (<span></span>)</h5><div class="deck-icebreaker"></div>
		<h5><img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/types/program.png') }}"> Program (<span></span>)</h5><div class="deck-program"></div>
		<h5><img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/types/ice.png') }}"> Barrier (<span></span>)</h5><div class="deck-barrier"></div>
		<h5><img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/types/ice.png') }}"> Code Gate (<span></span>)</h5><div class="deck-code-gate"></div>
		<h5><img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/types/ice.png') }}"> Sentry (<span></span>)</h5><div class="deck-sentry"></div>
		<h5><img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/types/ice.png') }}"> ICE (<span></span>)</h5><div class="deck-ice"></div>
	</div><!-- /.col-sm-6 -->
</div><!-- /#deck-content -->
<!-- Deck Content -->

<!-- Graphs -->
<table class="table table-condensed" id="table-graph-costs">
<thead>
<tr><th colspan="1"><span class="glyphicon glyphicon-stats"></span> Repartition by Cost</th></tr>
</thead>
<tbody>
<tr>
	<td><canvas id="costChart" width="1" height="200"></canvas></td>
</tr>
</tbody>
</table>

<table class="table table-condensed" id="table-graph-strengths">
<thead>
<tr><th colspan="1"><span class="glyphicon glyphicon-stats"></span> Repartition by Strength</th></tr>
</thead>
<tbody>
<tr>
	<td><canvas id="strengthChart" width="1" height="200"></canvas></td>
</tr>
</tbody>
</table>

<!-- Name and Notes Form -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<form method="POST" action="{{ path('deck_save') }}" id="save_form" role="form">
					<input type="hidden" id="deck-save-id" name="id" value="{{ deck.id }}">
					<input type="hidden" id="deck-save-as-copy" name="copy" value="0">
					<input type="hidden" name="content">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" name="name" value="{{ deck.name }}"></input>
					</div>
					<div class="form-group">
						<label for="name">Notes</label>
						<textarea class="form-control" rows="3" name="description">{{ deck.description }}</textarea>
					</div>
					<button type="submit" class="btn btn-warning">Save</button>
					<button type="submit" id="btn-save-as-copy" class="btn btn-primary">Save as Copy</button>
				</form>
			</div><!-- /.panel-body -->
		</div><!-- /.panel -->
	</div><!-- /.col-sm-12 -->
</div><!-- /.row -->
<!-- Name and Notes Form -->

<!-- Published decklists Table -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-condensed" id="table-predecessor">
			<thead>
				<tr><th colspan="4"><span class="glyphicon glyphicon-share"></span> Published versions</th></tr>
			</thead>
			<tbody>
			{% if published_decklists|length %}
			{% for decklist in published_decklists %}
				<tr>
					<td><a href="{{ path('decklist_detail', { 'decklist_id': decklist.id, 'decklist_name': decklist.prettyname|e('url') }) }}">{{ decklist.name }}</a></td>
					<td><span class="glyphicon glyphicon-heart social-icon-like"></span> {{ decklist.nbvotes }}</td>
					<td><span class="glyphicon glyphicon-star social-icon-favorite"></span> {{ decklist.nbfavorites }}</td>
					<td><span class="glyphicon glyphicon-comment social-icon-comment"></span> {{ decklist.nbcomments }}</td>
				</tr>
			{% endfor %}
			{% else %}
				<tr><td>None.</td></tr>
			{% endif %}
			</tbody>
		</table>
	</div><!-- /.col-sm-12 -->
</div>
<!-- Published decklists Table -->

</div><!-- /#deck -->
<!-- Left-side Column -->

<!-- Right-side Column -->
<div class="col-md-7">

<!-- Search Bar -->
<div class="row" id="search">
	<div class="col-sm-6 input-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
		<input type="text" class="form-control" name="title" placeholder="Find a card" tabindex="1">
	</div>
	<div class="col-sm-6">
		<div class="pull-right">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sets <span class="caret"></span></button>
				<ul class="dropdown-menu filter pull-right" id="set_code" title="Shift+Click to select only one option ; Alt+Shift+Click to select all other options"></ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Options <span class="caret"></span></button>
				<ul class="dropdown-menu pull-right">
					<li><a href="#"><label><input type="checkbox" name="show-disabled"> Show unusable cards</label></a></li>
					<li><a href="#"><label><input type="checkbox" name="only-deck"> Show only used cards</label></a></li>
				</ul>
			</div><!-- /.btn-group -->
		</div><!-- /.pull-right -->
	</div><!-- /.col-sm-7 -->
</div><!-- /.row -->
<!-- Search Bar -->

<div class="row" id="search2" style="margin-top:10px">
	<div class="col-sm-4 input-group">
		<input type="text" class="form-control input-sm" id="filter-text" placeholder="Filter list">
		<span class="input-group-btn"><button class="btn btn-default btn-sm" type="button" id="filter-text-button">?</button></span>
	</div>
	<div class="col-sm-8">
		<div class="pull-right">
			<div class="btn-group filter" data-toggle="buttons" id="faction_code">
			</div>
			<div class="btn-group filter" data-toggle="buttons" id="type_code">
			</div>
		</div>
	</div>
</div>

<!-- Collection Table -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th><a href="#" data-sort="indeck">Quantity</a></th>
					<th><a href="#" data-sort="title">Name</a></th>
					<th><a href="#" data-sort="factioncost">Inf.</a></th>
					<th class="type"><a href="#" data-sort="type">Type</a><span class="caret"></span></th>
					<th class="faction"><a href="#" data-sort="faction">Faction</a></th>
				</tr>
			</thead>
			<tbody id="collection" class="hide-disabled"></tbody>
		</table>
	</div><!-- /.col-sm-12 -->
</div><!-- /.row -->
<!-- Collection Table -->
	
</div><!-- .col-md-8 -->
<!-- Right-side Column -->
	
</div><!-- .row -->
</div><!-- .container -->


{% endblock %}