<!DOCTYPE html>
<html>
  <head>
    <title>{{ pagetitle|default('Deckbuilder') }} &middot; NetrunnerDB</title>
	<link rel="icon" sizes="16x16" href="/favicon.png" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.css">
    <link rel="stylesheet" href="{{ asset('/web/bundles/netrunnerdbbuilder/css/style.css') }}">
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.9/highcharts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>
    <script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/taffy.js') }}"></script>
    
    <script type="text/javascript">
var Locale = "{{ app.request.locale }}", SetsData, CardsData, IsModified = null;
function parseSets(sets_data) {
	var json = JSON.stringify(SetsData = sets_data);
	IsModified = IsModified || json != localStorage.getItem("sets_data_"+Locale);
	localStorage.setItem("sets_data_"+Locale, json);
}
function parseCards(cards_data) {
	var json = JSON.stringify(CardsData = cards_data);
	IsModified = IsModified || json != localStorage.getItem("cards_data_"+Locale);
	localStorage.setItem("cards_data_"+Locale, json);
}
var promise1 = $.ajax("{{ path('api_sets') }}?jsonp=parseSets&_locale="+Locale);
var promise2 = $.ajax("{{ path('api_cards') }}?jsonp=parseCards&_locale="+Locale);

{% if app.environment == 'prod' %}
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-44413511-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
{% endif %}
    </script>
{% block head %}{% endblock %}
  </head>
  <body>
  <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('deck_builder_index') }}">NetrunnerDB</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('decks_list') }}">My Decks</a></li>
            <li><a href="{{ path('decklists_list', {type:'popular'}) }}">Decklists</a></li>
            <li><a href="{{ path('netrunnerdb_netrunner_cards_search') }}">Cards</a></li>
			<li><a href="{{ path('netrunnerdb_netrunner_cards_rulings') }}">Rules</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if app.user %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle {{ app.user.faction }} loginname" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('user_profile') }}">Profile page</a></li>
                <li><a href="{{ path('user_profile_view', {user_id:app.user.id,user_name:app.user.username|e('url')}) }}">Decklists</a></li>
                <li><a href="{{ path('user_comments') }}">Comments</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Jack out</a></li>
              </ul>
            </li>
          {% else %}
            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
          {% endif %}
          </ul>
          <form class="navbar-form navbar-right hidden-xs hidden-sm" action="{{ path('netrunnerdb_netrunner_cards_find') }}" target="_blank">
            <div class="form-group">
              <input type="text" placeholder="Card Search" class="form-control" name="q">
            </div>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
  
{% block body %}{% endblock %}
    <div id="push"></div>
  </div>
    <div id="footer">
    <div class="container">
    <div class="row">
    <ul class="list-inline pull-right">
    {% if locales is defined %}
	{{ locales|raw }}
	{% endif %}
    </ul>
    
    <ul class="list-inline">
    <li><a href="{{ path('netrunnerdb_netrunner_cards_about') }}">About</a></li>
    <li><a href="{{ path('netrunnerdb_netrunner_cards_api') }}">API</a></li>
    <li><a href="javascript:localStorage.clear()">Clear data</a></li>
    </ul>
    </div>
    
    <div class="row">
    <p>
    Designed and built by <a href="//twitter.com/alsciende">@alsciende</a> 
    </p>
    
    </div>
    <div class="row">
    <p>
    Source code, Bug reports, Feature Requests and Changelog on <a href="https://github.com/Alsciende/netrunnerdb">GitHub</a>
    </p>
    
    </div>
    
    <div class="row">
    <p>
    Contribute by giving money on <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4SB7QHB5XRN7Y">Paypal (€)</a> or <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HHBUW2QYG6ZUC">Paypal ($)</a> or directly to <i>alsciende</i> (at) <i>icloud.com</i>
    </p>
    </div>
    
    <div class="row small">
    <p>
    The information presented on this site about Android:Netrunner, both literal and graphical, is copyrighted by Fantasy Flight Games and/or Wizards of the Coast.
    </p>
    <p>
    This website is not produced, endorsed, supported, or affiliated with Fantasy Flight Games and/or Wizards of the Coast. 
    </p>
    </div>
    </div>
    </div>
  </body>
</html>
