<p style="color:darkgray"><b>{{ username }}</b> also commented on a decklist <b><a href="{{ url|raw }}">{{ decklist_name }}</a></b>!</p>
<p style="color:gray">{{ date }}</p>
<p style="font-size:0.8em;color:lightgray">To unsubscribe from those notifications, change your <a href="{{ profile }}">account settings</a>.</p>