<h1>Rulings</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Question</th>
            <td>{{ entity.question }}</td>
        </tr>
        <tr>
            <th>Answer</th>
            <td>{{ entity.answer }}</td>
        </tr>
        <tr>
            <th>Source</th>
            <td>{{ entity.source }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_rulings') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_rulings_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_rulings_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
