{% macro with_scan(card) %}
<div class="row" style="margin-top:2em">
	<div class="card-image col-sm-6">
	{% if card.imagesrc %}
	   <img src="{% if card.largeimagesrc %}{{ card.largeimagesrc }}{% else %}{{ card.imagesrc }}{% endif %}" class="img-responsive" style="margin:auto">
	{% else %}
	   <div class="no-image"><div class="no-image-text">No image</div></div>
	{% endif %}
	</div>
	<div class="card-info col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
    			<h3 class="panel-title card-title">
    				{% if card.uniqueness == true %}&diams;{% endif %}
					<a href="{{ card.url }}" class="card-title{% if card.available == false %} card-preview{% endif %}">{{ card.title }}</a>
				</h3>
  			</div>
			<div class="panel-body">
				<div class="card-type">
					<span class="card-type">{{ card.type }}</span>{% if card.subtype %}<span class="card-subtype">: {{ card.subtype }}</span>{% endif %}
					&bull;
					{% if card.type_code == "agenda" %} Adv: {{ card.advancementcost }} &bull; Score: {{ card.agendapoints }} {% endif %}
					{% if card.type_code == "identity" and card.side_code == "corp" %}Deck: {{ card.minimumdecksize }} &bull; Influence: {% if card.influencelimit is null %} &#8734; {% else %} {{ card.influencelimit }} {% endif %} {% endif %}
					{% if card.type_code == "identity" and card.side_code == "runner" %}Link: {{ card.baselink }} &bull; Deck: {{ card.minimumdecksize }} &bull; Influence: {% if card.influencelimit is null %} &#8734; {% else %} {{ card.influencelimit }} {% endif %} {% endif %}
					{% if card.type_code == "operation" or card.type_code == "event" %}Cost: {{ card.cost }} &bull; Influence: {{ card.factioncost }}{% endif %}
					{% if card.type_code == "resource" or card.type_code == "hardware" %}Install: {{ card.cost }} &bull; Influence: {{ card.factioncost }}{% endif %}
					{% if card.type_code == "program" %}Install: {{ card.cost }} &bull; Memory: {{ card.memoryunits }} {% if card.strength is not null %}&bull; Strength: {{ card.strength }}{% endif %} &bull; Influence: {{ card.factioncost }}{% endif %}
					{% if card.type_code == "asset" or card.type_code == "upgrade" %}Rez: {{ card.cost }} &bull; Trash: {{ card.trash }} &bull; Influence: {{ card.factioncost }}{% endif %}
					{% if card.type_code == "ice" %}Rez: {{ card.cost }} &bull; Strength: {{ card.strength }} &bull; Influence: {{ card.factioncost }}{% endif %}
				</div>
				<div class="card-text">
					{{ card.text|raw }}
				</div>
				<div class="card-flavor">
					<small>{{ card.flavor|raw|nl2br }}</small>
				</div>
				<div class="card-illustrator">
					<small>
					{{ card.faction }} &bull;
					{% if card.illustrator %}{{ card.illustrator }} &bull; {% endif %}{{ card.setname }} #{{ card.number }}
					{% for alternative in card.alternatives %}
						| <a href="{{ alternative.url }}" title="Alternative">{{ alternative.setname }} #{{ alternative.number }}</a>
					{% endfor %}
					</small>
				</div>
			</div>
		</div>
	</div>
</div>
{% endmacro %}



{% macro as_grid(card) %}
<div class="col-sm-3 icon-bg icon-{{ card.faction_code }}">
		<h5>{% if card.uniqueness == true %}
			&diams;
		{% endif %}
		<a href="{{ card.url }}" class="card-title{% if card.available == false %} card-preview{% endif %}">{{ card.title }}</a>
		</h5>
	<p style="font-family:sans-serif">
		<span style="">{{ card.type }}</span>{% if card.subtype %}: {{ card.subtype }}{% endif %}
	</p>
	<p>
		{% if card.type_code == "agenda" %} Adv: {{ card.advancementcost }} &bull; Score: {{ card.agendapoints }} {% endif %}
		{% if card.type_code == "identity" and card.side_code == "corp" %}Deck: {{ card.minimumdecksize }} &bull; Influence: {% if card.influencelimit is null %} &#8734; {% else %} {{ card.influencelimit }} {% endif %} {% endif %}
		{% if card.type_code == "identity" and card.side_code == "runner" %}Link: {{ card.baselink }} &bull; Deck: {{ card.minimumdecksize }} &bull; Influence: {% if card.influencelimit is null %} &#8734; {% else %} {{ card.influencelimit }} {% endif %} {% endif %}
		{% if card.type_code == "operation" or card.type_code == "event" %}Cost: {{ card.cost }} &bull; Influence: {{ card.factioncost }}{% endif %}
		{% if card.type_code == "resource" or card.type_code == "hardware" %}Install: {{ card.cost }} &bull; Influence: {{ card.factioncost }}{% endif %}
		{% if card.type_code == "program" %}Install: {{ card.cost }} &bull; Memory: {{ card.memoryunits }} {% if card.strength %}&bull; Strength: {{ card.strength }}{% endif %} &bull; Influence: {{ card.factioncost }}{% endif %}
		{% if card.type_code == "asset" or card.type_code == "upgrade" %}Rez: {{ card.cost }} &bull; Trash: {{ card.trash }} &bull; Influence: {{ card.factioncost }}{% endif %}
		{% if card.type_code == "ice" %}Rez: {{ card.cost }} &bull; Strength: {{ card.strength }} &bull; Influence: {{ card.factioncost }}{% endif %}
	</p>
	<div class="card-text">
		{{ card.text|raw }}
	</div>
	<p style="font-style:italic;font-size:10px">
		{{ card.flavor|raw|nl2br }}
	</p>
	<p style="font-family:sans-serif;font-size:10px">
		{{ card.illustrator }}
	</p>
	<p>
		{{ card.setname }} #{{ card.number }} &bull; {{ card.faction }}
	</p>
</div>
{% endmacro %}





{% macro as_list(card) %}
	<td data-th="{% trans %}Title{% endtrans %}">
		<a href="{{ card.url }}" class="card card-title{% if card.available == false %} card-preview{% endif %}" data-index="{{ card.code }}">{{ card.title }}</a>
	</td>
	<td data-th="{% trans %}Faction{% endtrans %}">{% if card.faction_code != 'neutral' %}<span class="icon icon-{{ card.faction_code }} {{ card.faction_code }}"></span>{% endif %}</td>
	<td data-th="Cost">{{ card.cost }}{{ card.advancementcost }}</td>
	<td data-th="Type" >{{ card.type }}</td>
	<td data-th="&hellip;">{{ card.strength }}{{ card.agendapoints }}{{ card.trash }}</td>
	<td data-th="{% trans %}Subtype{% endtrans %}">{{ card.subtype }}</td>
	<td data-th="Influence">
		{% if card.factioncost > 0 %}
		<span class="influence-{{ card.cssfaction }}">
			{% for i in 1..card.factioncost %}&#9679;{% if i%5==0 %}&nbsp;{% endif %}{% endfor %}
		</span>
		{% endif %}
	</td>
	<td data-th="{% trans %}Set{% endtrans %}">{{ card.setname }} {{ card.number }}</td>
{% endmacro %}




{% macro scan_only(card) %}
<div class="col-sm-3">
	<a href="{{ card.url }}"><img src="{{ card.imagesrc }}" style="width:100%" class="img-responsive"></a>
</div>
{% endmacro %}



{% macro as_simple(card) %}
<a href="{{ card.url }}" class="card-title{% if card.available == false %} card-preview{% endif %}">{{ card.title }}</a><br>
{% endmacro %}


