{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %} {% block head
%}
<script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/nrdb.js') }}"></script>
<script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/search.js') }}"></script>
<script type="text/javascript">

var CardDB = null,
	SetDB = null;
	
</script>
{% endblock %} {% block body %}

<div class="container decklists">
	<div class="row">
		<div class="col-sm-3">

			<ul class="nav nav-pills nav-stacked">
				{% set linkurl = path('decklists_list', {type:'popular'}) %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}">Popular</a></li> {% set linkurl =
				path('decklists_list', {type:'recent'}) %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}">Recent</a></li> {% set linkurl =
				path('decklists_list', {type:'hottopics'}) %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}">Hot topics</a></li> {% set linkurl =
				path('decklists_list', {type:'halloffame'}) %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}">Hall of Fame</a></li> {% if app.user %} {% set
				linkurl = path('decklists_list', {type:'favorites'}) %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}">My favorites</a></li> {% set linkurl =
				path('decklists_list', {type:'mine'}) %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}">My decklists</a></li> {% endif %} {% set
				linkurl = path('decklists_searchform') %}
				<li class="{% if url == linkurl %}active{% endif %}"><a
					href="{{ linkurl }}"><span class="glyphicon glyphicon-search"></span>
						Search</a></li>
			</ul>

		</div>
		
		<div class="col-sm-9">
		
		<h1>Decklist Search</h1>
		<form method="GET" action="{{ path('decklists_list', {type:'find'}) }}" role="form">
		<div class="row">
		<div class="col-sm-4">


			    <div class="form-group">
					<label for="">Cards used</label>
					<input type="text" class="form-control" id="card"
						placeholder="Enter card title">
				</div>
				
				
			    <div class="form-group">
				<label for="">Sort</label> <select
					class="form-control" id="sort" name="sort">
					<option value="date">by Date</option>
					<option value="likes">by Number of Likes</option>
					<option value="reputation">by Reputation of Author</option>
				</select>
				</div>
		</div>

		<div class="col-sm-4">
		
				<div class="form-group">
					<label for="">Side or Faction</label>
					<select
						class="form-control" id="faction" name="faction">
						  <option value="">any</option>
						  <option value="Corp">Corp</option>
						  <option value="haas-bioroid">Haas-Bioroid</option>
						  <option value="jinteki">Jinteki</option>
						  <option value="nbn">NBN</option>
						  <option value="weyland-consortium">Weyland</option>
						  <option value="Runner">Runner</option>
						  <option value="anarch">Anarch</option>
						  <option value="criminal">Criminal</option>
						  <option value="shaper">Shaper</option>
				    </select>
				</div>
				<div class="form-group">
					<label for="">Last included pack</label> <select
						class="form-control" id="lastpack" name="lastpack">
						<option value="">any</option>
						{%  for pack in packs %}
						<option value="{{ pack.code }}">{{ pack.name }}</option>
						{%  endfor %}
						</select>
				</div>
		</div>
		
		<div class="col-sm-4">
        		<div class="form-group">
					<label for="">Author name</label> <input type="text"
						class="form-control" id="author" name="author" placeholder="Enter author name">
				</div>
				<div class="form-group">
					<label for="">Decklist name</label> <input type="text"
						class="form-control" id="title" name="title"
						placeholder="Enter text to search in title">
				</div>
		</div>
	
	   </div>
	   <div class="row">
	   <div class="col-xs-12">
	   				<button type="submit" class="btn btn-primary btn-lg">Search</button>
	   </div>
	   
	   </div>
	   </form>
		
		<div class="row">
		
	       <img class="img-responsive" src="{{ asset('/web/bundles/netrunnerdbbuilder/images/search.jpg') }}">
	       	
		</div>
		
		</div>
		
	</div>
	
	
	
</div>

{% endblock %}
