<div id="deck" class="header">
<table class="decklist"><tbody>
<tr>
	<td class="deckinfo">
		<img src="{{ asset('/web/bundles/netrunnerdbcards/images') }}/iconic_16_gray_light/tag_fill_16x16.png" class="glyph">
		<br>
		<img src="{{ asset('/web/bundles/netrunnerdbcards/images') }}/iconic_16_gray_light/layers_alt_16x16.png" class="glyph">
		<br>
		<img src="{{ asset('/web/bundles/netrunnerdbcards/images') }}/iconic_16_gray_light/share_16x16.png" class="glyph">
		<br>
	
	</td>
</tr>
</tbody></table>
</div>
<hr>
{#
	{{ el.nb }} <a href="{{ el.url }}" data-index="{{ el.index }}">{{ el.title }}</a>
	<img src="{{ asset('/web/bundles/netrunnerdbcards/images') }}/red_minus_alt_16x16.png" class="glyph control control-remove">
#}
