{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block hexagon %}{{ decklist.faction_code }}{% endblock %}
{% block head %}
<script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/nrdb.js') }}"></script>
<script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/decklist.js') }}"></script>
<script type="text/javascript">

var CardDB = null,
	SetDB = null,
	Identity = null
	Decklist = {{ decklist|json_encode|raw }},
	DeckDB = TAFFY([Decklist]),
	SelectedDeck = DeckDB().first()
	Url_Like = "{{ path('decklist_like') }}",
	Url_Favorite = "{{ path('decklist_favorite') }}",
	Url_Copy = "{{ path('deck_copy', {decklist_id:decklist.id}) }}",
	Url_OctgnExport = "{{ path('decklist_export_octgn', {decklist_id:decklist.id}) }}",
	Url_TextExport = "{{ path('decklist_export_text', {decklist_id:decklist.id}) }}",
	DisplaySort = 'type';

</script>
{% endblock %}
{% block body %}

<div class="container decklist">

<div class="row">
<div class="col-xs-12">
<h1>{% if is_author %}<a href="#" title="Edit decklist name / description" id="decklist-edit"><span class="glyphicon glyphicon-pencil pull-right"></span></a> {% endif %}<img src="{{ asset('/web/bundles/netrunnerdbbuilder/images/factions/38px/' ~ decklist.faction_code ~ '.png') }}">{{ decklist.name }}</h1>
<div class="decklist-social">
<div class="pull-right" id="decklist-social-icons">
<span>published {{ decklist.creation|date('M d') }}</span>
{% if app.user and not is_author and not is_liked %}
| <a id="decklist-social-icon-like" href="#" class="social-icon-like" data-toggle="tooltip" data-placement="bottom" title="Like">
	<span class="glyphicon glyphicon-heart"></span> <span class="num">{{ decklist.nbvotes }}</span>
</a>
{% else %}
| <span class="social-icon-like">
	<span class="glyphicon glyphicon-heart"></span> <span class="num">{{ decklist.nbvotes }}</span>
</span>
{% endif %}
{% if app.user %}
| <a id="decklist-social-icon-favorite" href="#" class="social-icon-favorite" data-toggle="tooltip" data-placement="bottom" {% if is_favorite %}title="Remove from favorites"{% else %}title="Add to favorites"{% endif %}>
	<span class="glyphicon glyphicon-star"></span> <span class="num">{{ decklist.nbfavorites }}</span>
</a>
| <a id="decklist-social-icon-comment" href="#comment-form" class="social-icon-comment" data-toggle="tooltip" data-placement="bottom" title="Comment">
	<span class="glyphicon glyphicon-comment"></span> <span class="num">{{ decklist.nbcomments }}</span>
</a>
{% else %}
| <span class="social-icon-favorite">
	<span class="glyphicon glyphicon-star"></span> <span class="num">{{ decklist.nbfavorites }}</span>
</span>
| <span class="social-icon-comment">
	<span class="glyphicon glyphicon-comment"></span> <span class="num">{{ decklist.nbcomments }}</span>
</span>
{% endif %}
</div>
</div>
</div>
</div>

<div class="row">

<!-- Left-side Column -->
<div class="col-md-6">

<div id="deck">
	
<!-- Identity and Stats -->
<div class="row">
	<div class="col-sm-3">
		<img id="img_identity" src="" class="img-responsive  hidden-xs">
	</div><!-- /.col-md-3 -->
	<div class="col-sm-9">
		<h3 id="identity"></h3>
		<div id="btn-group-decklist">
			<button type="button" id="btn-copy" class="btn btn-default  btn-xs"><span class="glyphicon glyphicon-save"></span> Copy</button>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
					<span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#" id="btn-download-text">Text file</a></li>
					<li><a href="#" id="btn-download-octgn">Octgn file</a></li>
				</ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
					<span class="glyphicon glyphicon-export"></span> Export <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#" id="btn-export-bbcode">bbCode</a></li>
					<li><a href="#" id="btn-export-markdown">Markdown (Reddit)</a></li>
					<li><a href="#" id="btn-export-plaintext">plain text</a></li>
				</ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
					<span class="glyphicon glyphicon-sort"></span> Sort <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" id="menu-sort">
					<li><a href="#" id="btn-sort-type"><label><input type="radio" name="sort-order" checked="checked">by Type</label></a></li>
					<li><a href="#" id="btn-sort-number"><label><input type="radio" name="sort-order">by Set</label></a></li>
					<li><a href="#" id="btn-sort-faction"><label><input type="radio" name="sort-order">by Faction</label></a></li>
					<li><a href="#" id="btn-sort-title"><label><input type="radio" name="sort-order">by Name</label></a></li>
				</ul>
			</div>
			</div>
		<div id="influence"></div>
		<div id="agendapoints"></div>
		<div id="cardcount"></div>
		<div id="latestpack"></div>
	</div><!-- /.col-md-9 -->
</div><!-- /.row -->
<!-- Identity and Stats -->

<!-- Deck Content -->
<div class="row" id="deck-content" style="margin-bottom:10px">
</div><!-- /#deck-content -->
<!-- Deck Content -->


<table class="table table-condensed" id="table-graph-costs">
<thead>
<tr><th colspan="1"><span class="glyphicon glyphicon-stats"></span> Repartition by Cost</th></tr>
</thead>
<tbody>
<tr>
	<td><canvas id="costChart" width="1" height="200"></canvas></td>
</tr>
</tbody>
</table>

<table class="table table-condensed" id="table-graph-strengths">
<thead>
<tr><th colspan="1"><span class="glyphicon glyphicon-stats"></span> Repartition by Strength</th></tr>
</thead>
<tbody>
<tr>
	<td><canvas id="strengthChart" width="1" height="200"></canvas></td>
</tr>
</tbody>
</table>

<table class="table table-condensed" id="table-predecessor">
<thead>
<tr><th colspan="4"><span class="glyphicon glyphicon-backward"></span> Derived from</th></tr>
</thead>
<tbody>
{% if precedent_decklists|length %}
{% for decklist in precedent_decklists %}
<tr>
	<td><a href="{{ path('decklist_detail', { 'decklist_id': decklist.id, 'decklist_name': decklist.prettyname|e('url') }) }}">{{ decklist.name }}</a></td>
	<td><span class="glyphicon glyphicon-heart social-icon-like"></span> {{ decklist.nbvotes }}</td>
	<td><span class="glyphicon glyphicon-star social-icon-favorite"></span> {{ decklist.nbfavorites }}</td>
	<td><span class="glyphicon glyphicon-comment social-icon-comment"></span> {{ decklist.nbcomments }}</td>
</tr>
{% endfor %}
{% else %}
<tr><td>None. Self-made deck here.</td></tr>
{% endif %}
</tbody>
</table>


<table class="table table-condensed" id="table-successor">
<thead>
<tr><th colspan="4"><span class="glyphicon glyphicon-forward"></span> Inspiration for</th></tr>
</thead>
<tbody>
{% if successor_decklists|length %}
{% for decklist in successor_decklists %}
<tr>
	<td><a href="{{ path('decklist_detail', { 'decklist_id': decklist.id, 'decklist_name': decklist.prettyname|e('url') }) }}">{{ decklist.name }}</a></td>
	<td><span class="glyphicon glyphicon-heart social-icon-like"></span> {{ decklist.nbvotes }}</td>
	<td><span class="glyphicon glyphicon-star social-icon-favorite"></span> {{ decklist.nbfavorites }}</td>
	<td><span class="glyphicon glyphicon-comment social-icon-comment"></span> {{ decklist.nbcomments }}</td>
</tr>
{% endfor %}
{% else %}
<tr><td>None yet</td></tr>
{% endif %}
</tbody>
</table>


<table class="table table-condensed" id="table-similar">
<thead>
<tr><th colspan="4"><span class="glyphicon glyphicon-link"></span> Explore similar decklists</th></tr>
</thead>
<tbody>
{% for decklist in similar %}
<tr>
	<td><a href="{{ path('decklist_detail', { 'decklist_id': decklist.id, 'decklist_name': decklist.prettyname|e('url') }) }}">{{ decklist.name }}</a></td>
	<td><span class="glyphicon glyphicon-heart social-icon-like"></span> {{ decklist.nbvotes }}</td>
	<td><span class="glyphicon glyphicon-star social-icon-favorite"></span> {{ decklist.nbfavorites }}</td>
	<td><span class="glyphicon glyphicon-comment social-icon-comment"></span> {{ decklist.nbcomments }}</td>
</tr>
{% endfor %}
</tbody>
</table>

</div><!-- /#deck -->

</div>
<!-- Left-side Column -->


<!-- Right-side Column -->
<div class="col-md-6">

<h3 class="decklist-author"><a href="{{ path('user_profile_view', {user_id:decklist.user_id,user_name:decklist.username}) }}" class="{{ decklist.usercolor }}">{{ decklist.username }}</a> <small title="User Reputation">{{ decklist.reputation }}</small></h3>  
<div id="deck-description">{{ decklist.description|raw }}</div>

<table class="table">
<thead>
<tr><th><span class="glyphicon glyphicon-comment"></span> {{ decklist.nbcomments }} comments</th></tr>
</thead>
<tbody>
{% for comment in decklist.comments %}
<tr><td>
<span class="comment-date">{{ comment.creation|date('M d') }}</span>
<a href="{{ path('user_profile_view', {user_id:comment.user_id,user_name:comment.author}) }}" class="comment-author username {{ comment.authorcolor }}">{{ comment.author }}</a>
<div class="comment-text">{{ comment.text|raw }}</div>
</td></tr>
{% endfor %}
</tbody>
</table>
{% if app.user %} 
<a name="comment-form"></a>
<form method="POST" action="{{ path('decklist_comment') }}">
	<input type="hidden" name="id" value="{{ decklist.id }}">
	<div class="form-group">
		<textarea id="comment-form-text" class="form-control" rows="4" name="comment" placeholder="Enter your comment in Markdown format"></textarea>
		<span class="help-block"><a href="#" id="markdown-help">Format help</a></span>
	</div>
	<button type="submit" class="btn btn-success">Submit comment</button> 
	</form>
{% else %}
<p>You must be logged in to post comments.</p>
{% endif %}
 
</div>

</div>
<!-- Right-side Column -->



</div>


<!-- Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea class="form-control" id="export-deck" rows="20"></textarea>
						</div>
						</form>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title">Edit decklist</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form action="{{ path('decklist_edit', {decklist_id:decklist.id}) }}" method="POST" enctype="multipart/form-data" id="edit-decklistform">
							<input type="hidden" name="decklist_id" id="edit-decklist-id" value="{{ decklist.id }}">
							<div class="form-group">
								<label for="publish-name">Name</label>
								<input type="text" class="form-control" name="name" id="edit-decklist-name" maxlength="60" value="{{ decklist.name }}" placeholder="Enter a name for this decklist">
							</div>
							<div class="form-group">
								<label for="publish-name">Description</label>
								<textarea class="form-control" name="description" id="edit-decklist-description" rows="5" placeholder="Enter a brief explanation of the deck strategy and your significant choices">{{ decklist.description }}</textarea>
							</div>
							<div class="pull-right">
								<button type="submit" id="btn-publish-submit" class="btn btn-success">Go</button>
								<button type="button" class="btn btn-default" onclick="$('#editModal').modal('hide')">Cancel</button>
							</div>
						</form>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

{% endblock %}
