<div class="header">
	<div class="left-menu header-menu">
		<ul class="header-menu">
			<li><a href="{{ path('netrunnerdb_netrunner_cards_homepage') }}" title="Android:Netrunner Card Search"><img width="16px" height="16px" src="{{ asset('/web/bundles/netrunnerdbcards/images/favicon.png') }}" class="glyph">Home</a></li>
			<li><a href="{{ path('netrunnerdb_netrunner_card_search') }}">Advanced Search</a></li>
		</ul>
	</div>
	
	<div class="right-menu header-menu">
		Sets:
		<ul class="header-menu">
		{% for set in sets %}
			<li><a href="{{ set.url }}">{{ set.name }}</a></li>
		{% endfor %}
			<li style="font-weight:bold"><a href="{{ path('netrunnerdb_netrunner_card_sitemap') }}">All Sets</a></li>
		</ul>
	</div>
	
</div>

<hr>
