<div class="image-menu">
	<ul class="header-menu">
		<li><a href="{{ path('netrunnerdb_netrunner_cards_homepage') }}">
			<img width="32px" height="32px" src="{{ asset('/web/bundles/netrunnerdbcards/images/iconic/32/gray_dark/home_32x32.png') }}">
			<span class="label">{% trans %}Home{% endtrans %}</span>
		</a></li>
		<li><a href="{{ path('netrunnerdb_netrunner_cards_search') }}">
			<img width="32px" height="32px" src="{{ asset('/web/bundles/netrunnerdbcards/images/iconic/32/gray_dark/magnifying_glass_32x32.png') }}">
			<span class="label">{% trans %}Search{% endtrans %}</span>
		</a></li>
		<li><a href="{{ path('netrunnerdb_netrunner_cards_sitemap') }}">
			<img width="32px" height="32px" src="{{ asset('/web/bundles/netrunnerdbcards/images/iconic/32/gray_dark/list_nested_32x28.png') }}">
			<span class="label">{% trans %}Sets{% endtrans %}</span>
		</a></li>
		<li><a href="{{ path('netrunnerdb_netrunner_cards_rulings') }}">
			<img width="32px" height="32px" src="{{ asset('/web/bundles/netrunnerdbcards/images/iconic/32/gray_dark/book_alt2_32x28.png') }}">
			<span class="label">{% trans %}Rules{% endtrans %}</span>
		</a></li>
	</ul>
</div>
